<div style="height: calc(100vh); 
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #dad8d8;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);">
<div class="row" style="margin-left: 0px; margin-right: 0px;">
<div class="col s12" style="padding: 0px;">
<h1 style="margin-top: 18px;
          padding-top: 0px;
          padding-left: 23px;
          padding-bottom: 20px;
          font-size: x-large;
          color: #5d5858;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: #dad8d8;
          font-family: 'Arimo', sans-serif;">
    Registration
</h1>
</div>
</div>

<div class="container" style="width: 96%; margin-top: 10px;">
<form>
<div class="row">
  <div class="col s6">
    <div class="form-group">
      <label for="name">First Name</label>
      <input #firstname (keyup.enter)="updateFirstName(firstname.value)" (blur)="updateFirstName(firstname.value)" style="border-bottom-style: solid; width: 585px;" placeholder="First Name" type="text" class="form-control" id="name" required>
    </div>
  </div>
  <div class="col s6">
    <div class="form-group">
      <label for="name">Last Name</label>
      <input #lastname (keyup.enter)="updateLastName(lastname.value)" (blur)="updateLastName(lastname.value)" style="border-bottom-style: solid; width: 585px;" placeholder="Last Name" type="text" class="form-control" id="name" required>
    </div>
  </div>
</div>

<div class="row">
    <div class="col s6">
      <div class="form-group">
        <label for="name">Email</label>
        <input #email (keyup.enter)="updateEmail(email.value)" (blur)="updateEmail(email.value)" style="border-bottom-style: solid; width: 585px;" placeholder="Email" type="text" class="form-control" id="name" required>
      </div>
    </div>
    <div class="col s6">
        <div class="form-group" style="padding-right: 23vw;">
          <label for="type">Reimbursement Type</label>
          <mat-form-field id="type" class="form-control" style="border: none; padding-left: 0px; width: 171px;">
              <mat-select [(value)] = "selected" style="z-index: 9999 !important; position: relative;">
                    <div *ngFor="let o of registerOptions">
                        <mat-option value="{{o.value}}">{{o.value}}</mat-option>
                    </div>
              </mat-select>
          </mat-form-field>
        </div>
      </div>
  </div>

<div class="row">
    <div class="col s6">
        <div class="form-group">
          <label for="name">Username</label>
          <input #username (keyup.enter)="updateUsername(username.value)" (blur)="updateUsername(username.value)" style="border-bottom-style: solid; width: 585px;" placeholder="Username" type="text" class="form-control" id="name" required>
        </div>
      </div>
      <div class="col s6">
          <div class="form-group">
            <label for="name">Password</label>
            <input #password (keyup.enter)="updatePassword(password.value)" (blur)="updatePassword(password.value)" style="border-bottom-style: solid; width: 585px;" placeholder="Password" type="password" class="form-control" id="name" required>
          </div>
        </div>
  </div>
</form>
</div>
<div class="row" style="
      margin-left: 0vw;
      margin-right: 0vw;
      margin-bottom: 0px;
      height: 38vh;
      padding-top: 10px;
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: #d2d2d2;
      background-color: #f1f1f1;">
<div class="col s12">
<button type="submit" style="float: right; margin-left: 10px;" class="btn btn-success" (click)="register()">Submit</button>
<button type="submit" style="float: right; background: rgba(140, 140, 140, 0.79);" class="btn btn-success" (click)="cancel()">Cancel</button>
</div>
</div>
</div>
